.main-container {
    background-color: #262626;
    min-height: 600px;

}

body {
    font-family: Roboto, Arial, sans-serif;
    /*font-size: 13px;*/
}

.logo-container {
    display: flex;
    background-color: black;
    color: white;
    height: 28px;
    padding: 10px;
}

.logo-container a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.icon {}

.trick {
    border-right: 1px solid white;
    padding: 0 5px 0 0;
}

.menu-items {
    font-size: 10px;
    padding: 5px 10px;
}

.menu-items a:hover {
    color: #CE242B;
}

.header-guides {
    display: flex;
    width: 80%;
    margin: 20px auto;
    border: 1px solid black;
    color: white;
}

.guides {
    width: 60%;
}

.guides a {

}

.do-community {
    background: black;
    border-radius: 5px;
    width:20%;
}

.main-content {
    background: white;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 3px;
}

.top-main-content {
    display: flex;
    width: 100%;
    justify-items: center; 
}

.link-top {
    width:45%;
    background: #fef6ec;
    border-radius: 3px;
    padding: 20px;
}

.link-top li {
    list-style: none;
}

.poster-top {
    width:45%;
    background-color: #fffcf6;
    border: 1px solid black;
    border-radius: 3px;
    padding: 20px;
    height: fit-content;
}

.line-main-container {
    border-bottom: 3px solid orange;
    width: 100%;
    margin: 20px auto;
}

.drop-down-blocks {
    width: 100%;
    /*font-size: 24px;*/
    padding: 5px;
}
    

.guide-main-content {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
}

.column-main-content {
    width: 45%;
    padding: 10px;
}

.column-main-content img {
    width: 350px;
}

.violet-cell {
    background: linear-gradient(#ebd4ef, #fefefe);
    padding: 20px;
}

/* Поменять цвет li и тип шрифта 
.violet-cell li {
    ;
}*/

.beige-cell {
    background: linear-gradient(#ffe8cc, #fefefd);
    padding: 20px;
}

.code-conteiner {
    display: flex;
    background-color: black;
    width: 75%;
    margin 10px auto;
    border-radius: 5px;
    padding: 10px;
}







.credit-container {
    background-color: black;
    width: 75%;
    color: white;
    border-radius: 3px;
    padding: 20px;
    margin: 0 auto; /* Переделать выравнивание! */
}



